/* FONTS */
/* SET UP BACKUP FONTS */
@font-face {
    font-family: 'Sambosa';
    src: url(../fonts/Sambosa.otf);
}

@font-face {
    font-family: 'SedhayuCondensed';
    src: url(../fonts/Sedhayu\ Condensed.woff);
}

@font-face {
    font-family: 'SedhayuExpanded';
    src: url(../fonts/Sedhayu\ Expanded.woff);
}

@font-face {
    font-family: 'SedhayuItalicCondensed';
    src: url(../fonts/Sedhayu\ Italic\ Condensed.woff);
}

@font-face {
    font-family: 'SedhayuItalicExplanded';
    src: url(../fonts/Sedhayu\ Italic\ Expanded.woff);
}

@font-face {
    font-family: 'SedhayuItalic';
    src: url(../fonts/Sedhayu\ Italic.woff);
}

@font-face {
    font-family: 'SedhayuRegular';
    src: url(../fonts/Sedhayu\ Regular.woff);
}

h1, h2, h3, h4, h5, p, li, input, textarea, button, a, div {
    font-family: 'SedhayuRegular';
    font-weight: 400;
    color: #46b5d1;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.1em;
}

h3, button {
    font-size: 1.8em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}

p, li, input, textarea {
    font-family: 'Sambosa';
    font-size: 1.1em;
}

div {
    font-family: 'Sambosa';
    font-size: .9em;
}

/* HTML/BODY */
html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgb(243, 243, 243);
}

/* MENU */
.container {
    border-radius: 21px;
    background: rgb(243, 243, 243);
    box-shadow:  18px 18px 36px #cac7c7,   -18px -18px 36px #ffffff;
}         

.container:hover {
    border-radius: 21px;
    background: rgb(243, 243, 243);
    box-shadow: inset 20px 20px 60px rgb(233, 233, 233),
    inset -20px -20px 60px #ffffff;
} 

a {
    text-decoration: none;
}

#email h4:hover {
    color: rgb(54, 206, 155);
}

#work img, #blog img, #email img {
    padding: .9em;
}

#work img:hover, #blog img:hover, #email img:hover {
    border-radius: 21px;
    background: rgb(243, 243, 243);
    box-shadow:  18px 18px 36px #cac7c7,   -18px -18px 36px #ffffff;
}

#footer p {
    font-size: 1.2em;
}

button {
    padding: 12px;
    margin-top: 15px;
    border-radius: 21px;
    border: 0;
    background: rgb(243, 243, 243);
    box-shadow:  18px 18px 36px #cac7c7,   -18px -18px 36px #ffffff;
}

button:hover {
    border-radius: 21px;
    background: rgb(243, 243, 243);
    box-shadow: inset 20px 20px 60px rgb(233, 233, 233),
    inset -20px -20px 60px #ffffff;
    cursor: pointer;
}